<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/loader.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

    <div id="preloader">
        <div id="loader"></div>
    </div>
</html>