<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Player Search - Soccer Application
		</title>
	</head>

	<body>
		<div class="customNavBar" id="myNavBar">
			<a href="/" id="left">Home</a>
			<a class="active" href="searchplayers" id="left">Search Players</a>
			<a href="searchteams" id="left">Search Teams</a>
			<a href="#" id="right">Login</a>
			<a href="#" id="right">Sign Up</a>
			<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveDesignFunc()">&#9776;</a>
		</div>

        <header class="myHeader">
			<div>
				<h1 style="font-family:'Ubuntu',sans-serif;">
					Home
				</h1>
			</div>
        </header>
    </body>
</html>